<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <nav class = "navbar navbar-expand-sm bg-dark fixed-top">
      <ul class = "navbar-nav">
        <li class = "nav-item"><a class = "nav-link active font-weight-bold" href="/">Home</a>
        <li class = "nav-item"><a class = "nav-link" href="/about">Skills/Relevant Courses</a></li>
        <li class = "nav-item"><a class = "nav-link" href="/games">Games</a></li>
      </ul>
    </nav>
  </head>

  <body>
    <div class="aboutMe grid-container">
      <div class="grid-item myPhoto">
        <img src="/assets/images/photo.jpg" alt="Photo">
      </div>
      <div class="grid-item">
        <p>My name is John Hoey, I am a recent graduate from St. John's University.
          My strengths currently include mathematics, object oriented programming,
          and web design. A dream job for me would be a position where I would
          create apps that incorporate AI programming/machine learning. I hope to create websites
          where users can form a better understanding of the utility and practicality
          of these fields for themselves! </p>
      </div>
    </div>

    <div class="grid-container footer fixed-bottom">
        <a href="https://www.linkedin.com/in/john-hoey-292835128/" target="blank"><img src="/assets/images/linkedInLogo.jpg" alt="LinkedIn"></a>

        <a href="https://github.com/Jajhoey" target="blank"><img src="/assets/images/gitHubLogo.png" alt="Github"></a>
        <a href="https://jajhoey.github.io/" target="blank"><img src="/assets/images/gitHubPagesLogo.png" alt="Github Pages"></a>

    </div>
</div>

  </body>
</html>
