<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <nav class = "navbar navbar-expand-sm bg-dark fixed-top">
      <ul class = "navbar-nav">
        <li class = "nav-item"><a class = "nav-link font-weight-bold" href="/">Home</a>
        <li class = "nav-item">
          <div class="dropdown">
            <button class="nav-link active drop-button">Skills/Education</button>
            <div class="dropdown-content">
              <a class = "" href="/about">Technical Skills</a>
              <a class = "" href="/about">Relevant Courses</a>
              <a class = "" href="/about">Education</a>
            </div>
          </div>
        </li>
        <li class = "nav-item"><a class = "nav-link" href="/projects">Personal Projects</a></li>
      </ul>
    </nav>
  </head>

  <body>
    <div class="aboutMe grid-container">
      <div class="myPhoto">
        <img src="/assets/images/photo.jpg" alt="Photo">
      </div>
      <div>
        <p>My name is John Hoey, I am a recent graduate from St. John's University.
          My strengths include mathematics, object oriented programming,
          and web design. A dream job for me would be a position where I would
          create apps that incorporate AI programming/machine learning. I hope to create websites
          where users can form a better understanding of the utility and practicality
          of these fields for themselves! </p>
      </div>
    </div>

    <div class="grid-container footer fixed-bottom">
        <a href="https://www.linkedin.com/in/john-hoey-292835128/" target="blank"><img src="/assets/images/linkedInLogo.jpg" alt="LinkedIn"></a>
        <a href="https://github.com/Jajhoey" target="blank"><img src="/assets/images/gitHubLogo.png" alt="Github"></a>
    </div>
</div>

  </body>
</html>
