h1 {
  color: black;
  margin-top: 50px;
  display: block;
  text-align: center;

}

body {
  background-image: url("/assets/images/background.jpg");
  object-fit: contain;
}

.aboutMe{
  text-align: left;
  font-size: 16pt;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
  font-weight: bold;
}

.myPhoto > img{
  border-radius: 60%;
  width: 500px;
}

.nav-item:hover{
  background-color: grey;
  border-radius: 10px;
}

.nav-link {
  color: white;
}

.footer>a>img{
  width: 50px;
  border-radius: 50%;
  grid-column-gap: 10px;
}

.footer{
  text-align: center;
}

.footer>.grid-item{

}

.grid-item>p{
  padding-top: 25%;
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 50px;
}
