<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <!--Static file served using python url_for function-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>About me</h1>
    <p class = "aboutMe">My name is John Hoey, I am a recent graduate from St. John's University.
      My strengths currently include mathematics, object oriented programming,
      and web design. A dream job for me would be a position where I would
      learn about AI programming/machine learning. I hope to create websites
      where users can form a better understanding of the utility and practicality of these fields for themselves! </p>
  </body>
</html>
